.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.background-container {
  background-color:#011327
}

.card-container {
  width: 325px;
  height:500px;
  border:0
}

.card-image {
  width:300px;
  height:450px;
  object-fit:cover
}

.whole-detail {
  width:'120%';
  height:100vh;
  margin-top:50px
}

.id-year {
  color:#a3d8f4
}

.logo {
  width:30px;
  height:30px
}

#award {
  font-size:1.25rem;
  color:gold
}

#imdb {
  font-size:2rem
}

#reviews-container {
  width:100px;
}

#rated {
  font-size:12px;
  position:absolute;
  top:0;
  right:0
}

#plot {
  font-size:15px
}

#heading-container {
  width:650px
}

#title-rated {
  width:'120%'
}